*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  color: #c9cacc;
  background-color: #1d1f21;
  font-display: swap;
  font-size: 14px;
  font-family: "Menlo", "Meslo LG", monospace;
  font-weight: 400;
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.725;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
h1 {
  letter-spacing: 0.01em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  color: #c9cacc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block;
}
h2 {
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #c9cacc;
  display: block;
}
h3 {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: underline;
  color: #c9cacc;
}
h4,
h5,
h6 {
  font-size: 0.9rem;
  font-weight: normal;
  color: #c9cacc;
  border-bottom: 1px dashed #c9cacc;
  display: inline;
  text-decoration: none;
}
h3,
h4,
h5,
h6 {
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
}
hr {
  border: 1px dashed #c9cacc;
}
strong {
  font-weight: bold;
}
em,
cite {
  font-style: italic;
}
sup,
sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.2em;
}
small {
  font-size: 0.85em;
}
acronym,
abbr {
  border-bottom: 1px dotted;
}
ul,
ol,
dl {
  line-height: 1.725;
}
ul,
ol ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
ol {
  list-style: decimal;
}
dt {
  font-weight: bold;
}
table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-size: 13px;
  font-weight: bold;
  color: #c9cacc;
  border-bottom: 1px dashed #ccc;
  padding: 8px 8px;
}
td {
  border-bottom: none;
  padding: 9px 8px 0px 8px;
}
p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
pre {
  overflow-x: auto;
  margin: 1rem 0;
  padding: 10px 15px;
  border-radius: 4px;
  background: #c9cacc;
  font-family: "Menlo", "Meslo LG", monospace;
  -webkit-border-radius: 4px;
}
pre,
code {
  -moz-hyphens: manual;
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual;
}
a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #c9cacc;
  cursor: pointer;
}
a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 6px, #2bbc8a 6px, #2bbc8a);
  color: #d480aa;
}
blockquote {
  background: inherit;
  color: #ccffb6;
  border-left: 0px solid #ccc;
  margin: 1rem 10px;
  padding: 0.5em 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}
blockquote p {
  margin: 0;
}
blockquote:before {
  color: #ccffb6;
  content: '\201C';
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote footer {
  color: #666;
  font-size: 11px;
  margin: line-height 0;
}
blockquote footer a {
  color: #666;
  background-image: linear-gradient(transparent, transparent 5px, #666 5px, #666);
}
blockquote footer a:hover {
  color: #999;
  background-image: linear-gradient(transparent, transparent 4px, #999 4px, #999);
}
blockquote footer cite:before {
  content: '—';
  padding: 0 0.5em;
}
.with-hashtag {
  position: relative;
}
.with-hashtag:before {
  content: '# ';
  color: #2bbc8a;
  position: absolute;
  left: -1em;
  top: -4px;
  font-size: 1.2em;
  font-weight: bold;
}
.archive-wraper {
  padding: 32px;
}
.archive-wraper h1 {
  color: #2bbc8a;
}
.archive-wraper .posts {
  padding: 0;
}
.archive-wraper .posts .post {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1rem;
}
.archive-wraper .posts .post .meta {
  display: inline-block;
  font-size: 14px;
  color: #666;
  min-width: 100px;
  margin-right: 16px;
}
@media (min-width: 640px) {
  .archive-wraper {
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
  }
  .archive-wraper .content-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 16px;
  }
  .archive-wraper .posts .post {
    display: flex;
    margin-bottom: 5px;
  }
  .archive-wraper .posts .post .meta {
    text-align: left;
  }
}
@media (max-width: 640px) {
  .archive-wraper {
    padding: 16px;
  }
}

.header-wrapper {
  width: 100%;
}
.header-wrapper .title {
  display: inline-block;
}
.header-wrapper .title h1 {
  letter-spacing: 0.01em;
  font-size: 1.5rem;
  line-height: 2rem;
  font-style: normal;
  font-weight: 700;
  color: #c9cacc;
  margin-top: 0;
  margin-bottom: 0;
}
.header-wrapper .logo {
  float: left;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.header-wrapper .toggle {
  display: none;
  position: relative;
}
.header-wrapper .toggle i {
  font-size: 1.5rem;
}
.header-wrapper .menu {
  letter-spacing: 0.01em;
  font-size: 0.8rem;
  font-style: normal;
  color: #2bbc8a;
}
.header-wrapper .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 15px;
}
.header-wrapper .menu a {
  margin-right: 15px;
  color: #2bbc8a;
}
.header-wrapper .menu a:hover {
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 6px;
  background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a);
}
.header-wrapper .menu li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px dotted #2bbc8a;
}
.header-wrapper .menu .icon {
  display: none;
}
.header-wrapper .menu li:last-child {
  border-right: 0;
  margin-right: 0;
}
.header-wrapper a {
  color: inherit;
  text-decoration: none;
  background: none;
}
.header-wrapper:hover .logo {
  -webkit-filter: none;
  filter: none;
}
@media (max-width: 640px) {
  .header-wrapper .title {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .header-wrapper .toggle {
    display: block;
    float: right;
    color: #2bbc8a;
    height: 50px;
    line-height: 50px;
    font-size: 1.5rem;
    margin-right: 10px;
  }
  .header-wrapper .toggle > * {
    vertical-align: middle;
  }
  .header-wrapper ul.menu {
    display: none;
    padding: 0px;
  }
  .header-wrapper ul.menu a:hover {
    background: none;
  }
  .header-wrapper ul.menu li {
    height: 2rem;
    padding-top: 1rem;
    padding-left: 70px;
    font-size: 1rem;
    display: block;
    border-right: 0;
  }
  .header-wrapper ul.menu li.icon {
    display: inline-block;
    position: absolute;
    top: 55px;
    right: 1rem;
  }
  .header-wrapper.with-menu ul.menu {
    display: block;
  }
}

.footer-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #666666;
  font-size: 11px;
  width: 100%;
  margin: 0 auto 1rem auto;
  vertical-align: top;
  text-align: center;
}
.footer-wrapper a {
  color: #666666;
}
.footer-wrapper a:hover {
  color: #d480aa;
}
.footer-wrapper .footer-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-wrapper .footer-right ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  border-right: 1px solid #4a4a4a;
}
.footer-wrapper .footer-right ul li a {
  margin-right: 15px;
}
.footer-wrapper .footer-right ul li:last-child {
  border-right: 0;
  margin-right: 0;
}
.footer-wrapper .footer-right ul li:last-child a {
  margin-right: 0;
}
.footer-wrapper .footer-left {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
@media (min-width: 640px) {
  .footer-wrapper {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .footer-wrapper .footer-left {
    float: left;
  }
  .footer-wrapper .footer-right {
    float: right;
  }
}

