<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{@root.title}}</title>

  <link rel="stylesheet" type="text/css" href="/assets/iconfont.css">
</head>

<body>

  <div class="root">
  <div class="wrapper">
    <%= require('html-loader!../share/header/index.html').default %>
    <div class="content-wrapper">
      <h1>最近</h1>
      <ul class="posts">
        {{#each @root.contents}}
        <li class="post">
          <div class="meta">
            <time>{{datetime this.create_time}}</time>
          </div>
          <span>
            <a href="{{path @root.address "post" (string (this.id) ".html")}}">{{this.title}}</a>
          </span>
        </li>
        {{/each}}
      </ul>
    </div>
    <%= require('html-loader!../share/footer/index.html').default %>
  </div>
  </div>
</body>

</html>
